@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-size: 62.5%;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cardFull{
    display: flex;
    height: 600px;
    width: 300px;
    background: linear-gradient(black, #f84c12) ;
    border-radius: 30px;
}

.card{
    display: block;
}

.cardTop{
    height: 400px;
    width: 200px;
}
.cardTop p{
    font-size: 8rem;
    color: white;
    letter-spacing: 20px;
    position: relative;
    left: 50px;
}

.cardTop .mate{
    top: -80px;
}

.cardTop .blur{
    top: -172px;
    z-index: 100;
    opacity: 40%;
}




.cardBot{
    width: 200px;
    height: 300px;
}

.logo{
    position: relative;
    top: -40px;
    left: -60px;
    height: 300px;
    width: 400px;
    object-fit: cover;
    rotate: -30deg;
}
.character{
    height: 600px;
}

.actor{
    height: 600px;
    position: relative;
    left: -120px;
}
